In [ ]:
from google.colab import files
uploaded = files.upload()

Saving movies.csv to movies (1).csv
Saving ratings.csv to ratings (1).csv

In [ ]:
import io
import pandas as pd
import numpy as np


movies = pd.read_csv(io.BytesIO(uploaded['movies.csv']))
ratings = pd.read_csv(io.BytesIO(uploaded['ratings.csv']))

In [ ]:
df2 = movies.merge(ratings, on = 'movieId')

In [ ]:
df2

        movieId                                      title  ... rating   timestamp
0             1                           Toy Story (1995)  ...    4.0   964982703
1             1                           Toy Story (1995)  ...    4.0   847434962
2             1                           Toy Story (1995)  ...    4.5  1106635946
3             1                           Toy Story (1995)  ...    2.5  1510577970
4             1                           Toy Story (1995)  ...    4.5  1305696483
...         ...                                        ...  ...    ...         ...
100831   193581  Black Butler: Book of the Atlantic (2017)  ...    4.0  1537109082
100832   193583               No Game No Life: Zero (2017)  ...    3.5  1537109545
100833   193585                               Flint (2017)  ...    3.5  1537109805
100834   193587        Bungo Stray Dogs: Dead Apple (2018)  ...    3.5  1537110021
100835   193609        Andrew Dice Clay: Dice Rules (1991)  ...    4.0  1537157606

[100836 rows x 6 columns]

In [ ]:
adf  = pd.DataFrame(df2.groupby('title')['rating'].mean())
print(adf)

                                             rating
title
'71 (2014)                                 4.000000
'Hellboy': The Seeds of Creation (2004)    4.000000
'Round Midnight (1986)                     3.500000
'Salem's Lot (2004)                        5.000000
'Til There Was You (1997)                  4.000000
...                                             ...
eXistenZ (1999)                            3.863636
xXx (2002)                                 2.770833
xXx: State of the Union (2005)             2.000000
¡Three Amigos! (1986)                      3.134615
À nous la liberté (Freedom for Us) (1931)  1.000000

[9719 rows x 1 columns]

In [ ]:
adf['counts'] = df2.groupby('title')['rating'].count()
print(adf)

                                             rating  counts
title
'71 (2014)                                 4.000000       1
'Hellboy': The Seeds of Creation (2004)    4.000000       1
'Round Midnight (1986)                     3.500000       2
'Salem's Lot (2004)                        5.000000       1
'Til There Was You (1997)                  4.000000       2
...                                             ...     ...
eXistenZ (1999)                            3.863636      22
xXx (2002)                                 2.770833      24
xXx: State of the Union (2005)             2.000000       5
¡Three Amigos! (1986)                      3.134615      26
À nous la liberté (Freedom for Us) (1931)  1.000000       1

[9719 rows x 2 columns]

In [ ]:
df4 = pd.DataFrame(df2.pivot_table(index='userId', columns='title', values='rating'))
print(df4)

title   '71 (2014)  ...  À nous la liberté (Freedom for Us) (1931)
userId              ...
1              NaN  ...                                        NaN
2              NaN  ...                                        NaN
3              NaN  ...                                        NaN
4              NaN  ...                                        NaN
5              NaN  ...                                        NaN
...            ...  ...                                        ...
606            NaN  ...                                        NaN
607            NaN  ...                                        NaN
608            NaN  ...                                        NaN
609            NaN  ...                                        NaN
610            4.0  ...                                        NaN

[610 rows x 9719 columns]

In [ ]:
cdf = pd.DataFrame(df4.corrwith(df4['Shawshank Redemption, The (1994)']))
print(cdf)

/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2551: RuntimeWarning: Degrees of freedom <= 0 for slice
  c = cov(x, y, rowvar)
/usr/local/lib/python3.7/dist-packages/numpy/lib/function_base.py:2480: RuntimeWarning: divide by zero encountered in true_divide
  c *= np.true_divide(1, fact)

                                                  0
title
'71 (2014)                                      NaN
'Hellboy': The Seeds of Creation (2004)         NaN
'Round Midnight (1986)                          NaN
'Salem's Lot (2004)                             NaN
'Til There Was You (1997)                       NaN
...                                             ...
eXistenZ (1999)                            0.047590
xXx (2002)                                 0.301531
xXx: State of the Union (2005)             0.975900
¡Three Amigos! (1986)                      0.048287
À nous la liberté (Freedom for Us) (1931)       NaN

[9719 rows x 1 columns]

In [ ]:
cdf.dropna(inplace=True)
print(cdf)

                                       0
title
'burbs, The (1989)              0.419543
(500) Days of Summer (2009)     0.249580
*batteries not included (1987)  0.404520
...And Justice for All (1979)  -1.000000
10 Cloverfield Lane (2016)      0.145671
...                                  ...
[REC]² (2009)                   0.944911
eXistenZ (1999)                 0.047590
xXx (2002)                      0.301531
xXx: State of the Union (2005)  0.975900
¡Three Amigos! (1986)           0.048287

[4785 rows x 1 columns]

In [ ]:
odf = cdf.merge(adf, on = 'title')
odf.columns = ['correlation', 'rating', 'counts']
print(odf)

                                correlation    rating  counts
title
'burbs, The (1989)                 0.419543  3.176471      17
(500) Days of Summer (2009)        0.249580  3.666667      42
*batteries not included (1987)     0.404520  3.285714       7
...And Justice for All (1979)     -1.000000  3.166667       3
10 Cloverfield Lane (2016)         0.145671  3.678571      14
...                                     ...       ...     ...
[REC]² (2009)                      0.944911  3.666667       3
eXistenZ (1999)                    0.047590  3.863636      22
xXx (2002)                         0.301531  2.770833      24
xXx: State of the Union (2005)     0.975900  2.000000       5
¡Three Amigos! (1986)              0.048287  3.134615      26

[4785 rows x 3 columns]

In [ ]:
df6 = odf[odf['counts']>80].sort_values('correlation', ascending=False).head(20)
df7 = df6.merge(movies, on='title')
print(df7)

                                     title  ...                                           genres
0         Shawshank Redemption, The (1994)  ...                                      Crime|Drama
1                       Rear Window (1954)  ...                                 Mystery|Thriller
2       Four Weddings and a Funeral (1994)  ...                                   Comedy|Romance
3               Shakespeare in Love (1998)  ...                             Comedy|Drama|Romance
4                               Big (1988)  ...                     Comedy|Drama|Fantasy|Romance
5                  Schindler's List (1993)  ...                                        Drama|War
6        Back to the Future Part II (1989)  ...                          Adventure|Comedy|Sci-Fi
7             Bourne Ultimatum, The (2007)  ...                            Action|Crime|Thriller
8               Usual Suspects, The (1995)  ...                           Crime|Mystery|Thriller
9                    Ocean's Eleven (2001)  ...                                   Crime|Thriller
10                  Green Mile, The (1999)  ...                                      Crime|Drama
11                        Inception (2010)  ...  Action|Crime|Drama|Mystery|Sci-Fi|Thriller|IMAX
12      Back to the Future Part III (1990)  ...                  Adventure|Comedy|Sci-Fi|Western
13              Catch Me If You Can (2002)  ...                                      Crime|Drama
14                    Birdcage, The (1996)  ...                                           Comedy
15  One Flew Over the Cuckoo's Nest (1975)  ...                                            Drama
16                           Snatch (2000)  ...                            Comedy|Crime|Thriller
17          Godfather: Part II, The (1974)  ...                                      Crime|Drama
18                    Departed, The (2006)  ...                             Crime|Drama|Thriller
19                        Firm, The (1993)  ...                                   Drama|Thriller

[20 rows x 6 columns]